
h1{
  font-size: 50pt;
  font-family: "Homer Simpson", cursive;
  text-align: center;
  color: #FE7F88;
}

#encabezado{
   background-image: url("./Imagenes/mujeresunidas.png");
   height: 350px;
   background-repeat: repeat-x;
   position: center;
}
#reseña{
  text-align: center;
  font-size: 23px;
  font-family: 'Gloria Hallelujah';
  margin-top: 30px;
  color: #873600  ;
}
h2{
  text-align: center;
  font-size: 20px;
  font-family: 'Gloria Hallelujah';
  margin-top: 10px;
  color: #873600;
}
#contraseña{
  text-align: center;
  font: 20px verdana;
  border-radius: 50px;
  border-color: #ff8b9e;
  margin-left: 800px;
  outline-color: transparent; 
}
  #boton{
  border-radius: 50px;
  font: 20px verdana;
  background-color: #FE7F88;
  margin-bottom: 10px;
  border-color: #f8f9fa;
  color: white;
  outline-color: transparent;
}
#resultado{
  text-align: center;
  font-size: 20px;
  font-family: 'Gloria Hallelujah';
  margin-top: 10px;
  color: black ;
}
